<nav id='test-header'>
  <ul class="menu">
    <li class="logo"><a href="#">Header Component</a></li>
    <li class="item"><a href="#">Home</a></li>
    <li class="item"><a href="#">About</a></li>
    <li class="item"><a href="#">Services</a></li>
    <li class="item"><a href="#">Plans</a></li>
    <li class="item"><a href="#">Blog</a></li>
    <li class="item"><a href="#">Contact</a>
    </li>
    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
  </ul>
</nav>

<button type="button" (click)="loadTheme('dark.css')">Load Dark style</button>
<button type="button" (click)="loadTheme('green.css')">Load Green style</button>

